---
layout: default
---

<div id="main">

    {{ content }}


    {% if site.links_buttons %}
    <!-- from _data/links_buttons.yml -->
    <div class="u-layout-wide u-layoutCenter u-padding-r-bottom u-margin-r-bottom u-layout-r-withGutter">
        {% if site.links_buttons_title %}
        <h2 class="u-padding-r-bottom u-padding-r-top u-text-r-l">{{ site.links_buttons_title }}</h2>
        {% endif %}
        <div class="Grid Grid--withGutter">
            {% for item in site.data.links_buttons %}
              {% if item.list %}
                <div class="Grid-cell u-md-size1of3 u-lg-size1of3">
                    <div class="Entrypoint-item u-background-50">
                        <p><a class="u-textClean u-text-h3 u-color-white" href="{{ item.url }}">{{ item.title }}</a></p>
                    </div>
                    {% for sub_item in item.list %}
                    <div class="Entrypoint-item u-background-50">
                        <p><a class="u-textClean u-text-h4 u-color-white" href="{{ sub_item.url }}">{{ sub_item.title }}</a></p>
                    </div>
                    {% endfor %}
                </div>
              {% else %}
                <div class="Grid-cell u-md-size1of3 u-lg-size1of3 u-flex">
                    <div class="Entrypoint-item u-sizeFill u-background-50">
                        <p><a class="u-textClean u-text-h3 u-color-white" href="{{ item.url }}">{{ item.title }}</a></p>
                    </div>
                </div>
              {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}

    {% if site.posts_list %}
    <!-- recent posts from posts/*.html -->
    <div class="u-background-grey-20 u-text-r-xxl u-padding-r-top u-padding-r-bottom">
        <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
            <div class="u-layout-centerContent u-background-grey-20 u-padding-r-bottom">
                <section class="u-layout-wide">
                    <h2 class="u-padding-r-bottom u-text-r-l">{{ site.posts_list_title }}</h2>

                    <div class="Grid Grid--withGutter">

                    {% for post in site.posts limit : 6 %}
                      {% if forloop.first %}
                        <div class="Grid-cell u-nbfc u-md-size3of4 u-lg-size3of4">

                            <div class="Grid u-layout-centerContent">
                                {% if post.thumbnail %}
                                <div class="Grid-cell u-sizeFit">
                                    <img src="{{ post.thumbnail | relative_url }}" width="300" height="300" class="u-sizeFit" alt="primo post" />
                                </div>
                                {% endif %}
                                <div class="Grid-cell u-md-sizeFill u-lg-sizeFill u-padding-r-left">
                      {% else %}
                        <div class="Grid-cell u-md-size1of4 u-lg-size1of4 u-padding-r-left">
                      {% endif %}

                                    <div class="u-color-grey-30 u-border-top-xxs u-padding-right-xxl u-padding-r-all">
                                        <p class="u-padding-r-bottom">
                                            <span class="Dot u-background-70"></span>
                                            <a class="u-textClean u-textWeight-700 u-text-r-xs u-color-50" href="#">{{ post.category }}</a>
                                            <span class="u-text-r-xxs u-textSecondary u-textWeight-400 u-lineHeight-xl u-cf">{{ post.date | date: '%d %B %Y' }}</span>
                                        </p>
                                        <h3 class="u-padding-r-top u-padding-r-bottom">
                                          <a class="u-text-h4 u-textClean u-color-black" href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
                                        </h3>
                                        <p class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">
                                            {% if post.subtitle %}
                                              {{ post.subtitle }}
                                            {% else %}
                                              {{ post.excerpt | strip_html | truncatewords: 15 }}
                                            {% endif %}
                                        </p>
                                    </div>
                      {% if forloop.first %}
                                </div>
                            </div>
                      {% endif %}
                        </div>
                    {% endfor %}

                    </div>

                    <p class="u-textCenter u-text-md-right u-text-lg-right u-padding-r-top">
                        <a href="{{"/posts" | relative_url }}" class="u-color-50 u-textClean u-text-h4">
          tutti i contenuti <span class="Icon Icon-chevron-right"></a>
                    </p>

                </section>

            </div>
        </div>
    </div>
    {% endif %}


    {% if site.section_lists %}
    <!-- "landing section" from _data/section_lists.yml -->
    <section class="u-layout-wide u-layout-withGutter u-layoutCenter u-padding-r-top">
        <h1 class="u-text-h2">{{ site.section_lists_title }}</h1>
        <div class="Grid Grid--withGutter">

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">
                        Dolorem et cupiditate quasi aut ducimus voluptas officiis. Aut quisquam libero totam voluptatibus deserunt enim et voluptatem. Dolor tenetur qui perspiciatis est.
                        <ul class="Linklist Prose u-text-r-xs">
                            <li><a href="">autem reiciendis maiores</a></li>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">
                        Dignissimos recusandae et numquam sint qui saepe qui. Est blanditiis quibusdam voluptas alias enim. Quia sed odit voluptatem error iusto ex.
                        <ul class="Linklist Prose u-text-r-xs">
                            <li><a href="">autem reiciendis maiores</a></li>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">
                        Ducimus itaque veniam minima aut. Quam itaque a. Corrupti doloribus aperiam sed voluptas quas expedita earum harum hic.
                        <ul class="Linklist Prose u-text-r-xs">
                            <li><a href="">autem reiciendis maiores</a></li>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">
                        Quo autem quam aut eligendi blanditiis id. In aut accusamus. Nesciunt earum ut suscipit aperiam. Aut magni consequuntur quod itaque et id ad. Rerum at laboriosam id perspiciatis iste molestiae vitae. Aperiam aut eveniet ipsum vitae.
                        <ul class="Linklist Prose u-text-r-xs">
                            <li><a href="">autem reiciendis maiores</a></li>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">
                        Praesentium deserunt dolorem at doloremque eos. Ratione voluptatem earum deserunt neque aliquid est. Voluptatum molestiae et fuga nihil quia non.
                        <ul class="Linklist Prose u-text-r-xs">
                            <li><a href="">autem reiciendis maiores</a></li>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">
                        Necessitatibus numquam quia deleniti tempora non quos impedit sed. Enim tenetur voluptate maiores voluptatibus. Esse ea est rerum asperiores. Eum deleniti quasi voluptatum sit possimus dolores odit. Aut voluptatum consequuntur.
                        <ul class="Linklist Prose u-text-r-xs">
                            <li><a href="">autem reiciendis maiores</a></li>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">
                        Iste in quod voluptas quos qui voluptas. Sint ut occaecati culpa possimus dolorum et doloribus eos. Magni dolore aut quis. Maiores et illo rem.
                        <ul class="Linklist Prose u-text-r-xs">
                            <li><a href="">autem reiciendis maiores</a></li>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="Grid-cell u-sm-size1of2 u-md-size1of2 u-lg-size1of3 u-padding-r-all">
                <div class="u-border-top-l u-color-70 u-text-r-l u-padding-r-bottom">
                    <h2 class="u-text-h3 u-padding-r-top">Area tematica</h2>
                    <p class="Prose u-padding-r-top u-padding-r-bottom">
                        Et officia quo adipisci dignissimos minus cum veritatis eos et. A iste aspernatur repellendus sed cumque eligendi odio. Accusantium nisi voluptatem et cum eligendi sint.
                        <ul class="Linklist Prose u-text-r-xs">
                            <li><a href="">autem reiciendis maiores</a></li>
                            <li><a href="">blanditiis soluta exercitationem</a></li>
                            <li><a href="">voluptatem eligendi laboriosam</a></li>
                            <li><a href="">laboriosam porro dolor</a></li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </section>
    {% endif %}

    {% if site.twitter_list %}
    <!-- twitter list (manual) -->
    <div class="u-background-70 u-padding-r-top u-padding-r-bottom">
        <div class="u-layout-centerContent u-background-70 u-padding-r-all">
            <section class="u-layout-medium">
                <div class="Grid">
                    <div class="Grid-cell u-layout-centerLeft">
                        <h2 class="u-text-r-l"><a class="u-color-white" href="">{{ site.twitter_list_title }}</a></h2>
                    </div>
                </div>
                <div class="u-text-r-xxl u-padding-r-top">
                    <div class="Grid Grid--withGutter">

                        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
                            <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
                                <section class="u-text-r-l u-padding-r-all u-layout-prose">
                                    <div class="u-text-p u-padding-r-bottom">
                                        <p class="u-color-50 u-text-r-xxs u-textWeight-600">nome account</p>
                                        <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
                                    </div>
                                    <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
                                        Dolorem et cupiditate quasi aut ducimus voluptas officiis. Aut quisquam libero totam voluptatibus deserunt enim et voluptatem. Dolor tenetur qui perspiciatis est.
                                    </h3>
                                    <p>
                                        <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
                                    </p>
                                </section>
                            </div>

                        </div>

                        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
                            <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
                                <section class="u-text-r-l u-padding-r-all u-layout-prose">
                                    <div class="u-text-p u-padding-r-bottom">
                                        <p class="u-color-50 u-text-r-xxs u-textWeight-600">nome account</p>
                                        <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
                                    </div>
                                    <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
                                        Dignissimos recusandae et numquam sint qui saepe qui. Est blanditiis quibusdam voluptas alias enim. Quia sed odit voluptatem error iusto ex.
                                    </h3>
                                    <p>
                                        <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
                                    </p>
                                </section>
                            </div>

                        </div>

                        <div class="Grid-cell u-sizeFull u-md-size1of3 u-lg-size1of3 u-margin-r-bottom u-layout-matchHeight u-padding-r-all">
                            <div class="u-nbfc u-borderRadius-m u-color-grey-30 u-background-white">
                                <section class="u-text-r-l u-padding-r-all u-layout-prose">
                                    <div class="u-text-p u-padding-r-bottom">
                                        <p class="u-color-50 u-text-r-xxs u-textWeight-600">nome account</p>
                                        <p class="u-textSecondary u-text-r-xxs">10 Luglio 2016</p>
                                    </div>
                                    <h3 class="u-text-p u-textWeight-400 u-color-grey-80 u-margin-r-bottom u-padding-r-bottom">
                                        Ducimus itaque veniam minima aut. Quam itaque a. Corrupti doloribus aperiam sed voluptas quas expedita earum harum hic.
                                    </h3>
                                    <p>
                                        <a title="visualizza su twitter" class="u-color-50 u-textClean u-text-xl" href="http://twitter.com">
        <span class="Icon-twitter" aria-hidden="true"></span>
        <span class="u-hiddenVisually">visualizza su twitter</span>
      </a>
                                    </p>
                                </section>
                            </div>

                        </div>

                    </div>
                </div>
            </section>
        </div>

    </div>
    {% endif %}


    {% if site.links_leads %}
    <!-- "leads" from _data/links_leads.yml -->
    <div class="u-background-grey-20 u-background-grey-20 u-color-black u-text-xxl u-padding-r-bottom">
        <div class="u-layout-wide u-layoutCenter u-layout-r-withGutter">
            <section class="u-padding-r-top u-padding-r-bottom">
                <h2 class="u-text-h3 u-layout-centerLeft">{{ site.links_leads_title }}</h2>
                <ul class="Grid Grid--withGutter">

                    {% for item in site.data.links_leads %}
                    <li class="Grid-cell u-sizeFull u-md-size1of4 u-lg-size1of4">
                        <a class="Leads-link u-color-black" href="{{ item.url }}">{{ item.title }}</a>
                    </li>
                    {% endfor %}

                </ul>
            </section>

        </div>
    </div>
    {% endif %}

</div>
