---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="u-sizeFull" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
{% else %}
<header class="u-sizeFull">
{% endif %}
  <div class="overlay"></div>

    <section class="Grid">
      <div class="Grid-cell u-sizeFull">
        <div class="post-heading">
          <h1 class="u-text-h1 u-textClean u-color-black">{{ page.title }}</h1>
          {% if page.subtitle %}
          <h2 class="u-text-h2 u-textClean u-color-black">{{ page.subtitle }}</h2>
          {% endif %}
          <span class="meta">Data {{ page.date | date: '%B %d, %Y' }}</span>
        </div>
      </div>
    </div>

</header>

<section class="Grid">
  <div class="Grid-cell u-sizeFull">

    <div class="u-lineHeight-l u-text-r-xs u-textSecondary u-padding-r-right">

    {{ content }}

    <br>

    {% if page.previous.url %}
    <a class="Button Button--default u-text-r-xxs float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Precedente</a>
    {% endif %}
    {% if page.next.url %}
    <a class="Button Button--default u-text-r-xxs float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Successivo</span> &rarr;</a>
    {% endif %}

    </div>

  </div>
</div>
